@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home img {
    width: 200px;
}

.bar {
    width: 25vw;
    padding: 15px;
}

.home {
    padding: 10px;
    position: relative;
}

.main {
    width: 75vw;
    margin-top: 20px;
    margin-right: 2px;

}

.home ul li {
    list-style: none;
    display: flex;
    gap: 9px;
    padding: 15px;
    font-weight: 700;
}

.home ul li img {
    width: 20px;
}

.close {
    position: absolute;
    top: 32px;
    left: 55%;
    height: 30px;
    display: none;
    cursor: pointer;
    

}

.lib {
    min-height: 60vh;
    position: relative;
}

.heading {
    width: 100%;
    padding: 8px;
}

.heading h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

.footer {
    display: flex;
    font-size: 12px;
    gap: 10px;
    position: absolute;
    bottom: 8px;
}

.footer a {
    color: gray;
    text-decoration: none;

}

.nav {
    display: flex;
    
    justify-content: space-between;
    gap: 5px;
    border-radius: 5px;
    padding: 19px;
    background-color: rgb(0, 0, 0);
}

.menu {
    margin: 5px;
    cursor: pointer;
    display: none;
    filter: invert(1);
}

.nav .signup {
    padding: 10px;
    color: rgb(203, 203, 203);
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    width: 80px;
    font-weight: bold;
    
}

.nav .signup:hover {
    color: white;
    cursor: pointer;
}

.nav .login {
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 80px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

.nav .login:hover {
    background-color: rgb(239, 239, 239);
    cursor: pointer;

}

.playlist {
    padding: 9px;
    
}

.main {
    max-height: 92vh;
    position: relative;
}

.cards {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow: auto;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    min-width: 240px;
    width: 240px;
    padding: 9px;
    border-radius: 8px;
    position: relative;

}

.box>* {
    padding-top: 10px;
}


.box .playy {
    width: 70px;
    position: absolute;
    padding: 85px;
    filter: drop-shadow(1px 1px 4px black);
    opacity: 0;

}

.box img {
    border-radius: 7px;
    padding: 0px;
    width: 100%;
    ;
}

.playy:hover {
    animation: play 200ms ease-in-out forwards;
}

.box:hover {
    animation: pop 322ms forwards;

}

.playbar {
    bottom: 0px;
    position: fixed;
    bottom: 20px;
    width: 71%;

    background-color: rgba(0, 0, 0, 0.58);
}

.seekbar {
    cursor: pointer;
}

.btns {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(1);
    

}

.btns img {
    cursor: pointer;
    width: 40px;
    /* padding: 10px; */
}

.three {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barbtn{
    margin-top: 4px;
}

.slist {

    height: 50vh;
    overflow: auto;
    padding: 3px;
}

.slist ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 2px 2px 4px black;
}

.slist ul li:hover {
    cursor: pointer;
    animation: click 80ms ease-in forwards;
}

.slist ul {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 7px
}

.seekbar .seek {
    background-color: rgb(142, 126, 20);
    height: 5px;
}

.seekbar .circle {
    background-color: rgb(169, 169, 169);
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 41px;
    box-shadow: 2px 2px 6px black;
    border-radius: 20px;
    transition: left 300ms;
}

@keyframes pop {
    from {}

    to {
        background-color: rgb(88, 82, 17);
    }
}

@keyframes play {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
        background-color: rgba(0, 0, 0, 0.201);
    }
}

@keyframes click {
    from {}

    to {
        box-shadow: 0px 0px 0px black;
    }
}

@media (max-width: 880px) {
    .bar {
        position: absolute;
        left: -100%;
        background-color: rgb(53, 53, 53);
        z-index: 1;
        width: 80vw;
        height: 100vh;
        padding: 3px;
        transition: all 250ms;
        box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.587);

    }

    .close {
        display: block;
        
        
    }
    .main {
        width: 100vw;
    }
    .playlist{
        padding: 20px;
        
    }
    

    .playbar {
        width: 98vw;

    }
    .main{
        margin-top: 0px;
    }
    .cards {
        padding: 20px;
    }

    .menu {
        display: block;
    }
    .playbar {
        bottom: 0px;
        margin: 0px 7px;
        left: 0px;
        height: 100px;
        position: fixed;
        width: 96%;
        background-color: rgba(0, 0, 0, 0.708);
    }
    .three{
        flex-direction: column;
    }
    .seekbar .circle {
        
        position: relative;
        bottom: 7px;
    }
    
}